{{- with .Values.initSecrets -}}
{{- if and .enabled .rbac.create (include "matrix-stack.init-secrets.generated-secrets" (dict "context" . "root" $)) -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
  labels:
    {{- include "matrix-stack.init-secrets.labels" (dict "context" . "root" $) | nindent 4 }}
  name: {{ include "matrix-stack.fullname" $ }}-init-secrets
  namespace: {{ $.Release.Namespace }}
{{- end }}
{{- end }}
