## Name of this Matrix deployment.
## Serves as the public-facing domain of the homeserver.
## Cannot be changed after deploying, as it becomes
## a part of the user IDs.
serverName: # chat.localhost

image:
  ## Overrides the default pull policy for all images.
  ## By default, it is `IfNotPresent` for images
  ## specified by digest, and `Always` for images specified by tag.
  # pullPolicy: IfNotPresent

  ## List of pull secrets used for pulling images in this chart.
  ## Specific components can add to this listusing their respective
  ## `<component>.pullSecrets` value.
  pullSecrets: []

## Overrides the name of the chart.
nameOverride: ""

## Overrides the fully qualified name of the deployed chart.
fullNameOverride: ""

synapse:
  enabled: true

  ## PostgreSQL connection details
  ## Contains the connection credentials for the PostgreSQL
  ## database used for data storage.
  ##
  ## Values can be provided either directly in the values file,
  ## or as a reference to a Kubernetes secret.
  # postgres:
    # host:
    #   value: synapse
    #
    #   secretName:
    #   secretKey:

    # port:
    #   value: 5432
    #
    #   secretName:
    #   secretKey:

    # database:
    #   value: synapse
    #
    #   secretName:
    #   secretKey:

    # user:
    #   value: synapse
    #
    #   secretName:
    #   secretKey:

    # password:
    #   value:
    #
    #   secretName: postgres-secret
    #   secretKey: password

  ## Secret containing a key to sign events and federation requests with.
  # signingKey:
  #   value:
  #
  #   secretName:
  #   secretKey:

  ## Secret containing a key used to sign various other Synapse tokens.
  ## See https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html#macaroon_secret_key for more details.
  # macaroonKey:
  #   value:
  #
  #   secretName:
  #   secretKey:

  ## Configuration of the Synapse media store
  media:
    persistence:
      ## Whether persistence should be enabled for the Synapse media store.
      ## By default, this will create a PersistentVolumeClaim to store the media.
      enabled: true

      ## Name for an already existing PersistentVolumeClaim that should be used
      ## to store Synapse media, instead of the one created by default.
      # existingClaim:

      ## Size of the default PersistentVolumeClaim.
      ## Ignored if `existingClaim` is set.
      size: 5Gi

      ## The storage class to be used by the default PersistentVolumeClaim.
      ## Ignored if `existingClaim` is set.
      # storageClassName:

      ## Access mode to be used by the default PersistentVolumeClaim.
      ## Ignored if `existingClaim` is set.
      # accessMode: ReadWriteOnce

      ## Whether Helm should keep or delete the default PersistentVolumeClaim
      ## when uninistalling the chart.
      ## Ignored if `existingClaim` is set.
      resourcePolicy: keep

    ## The largest allowed upload size to the Synapse media store.
    ## For more details see https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html#max_upload_size.
    maxUploadSize: 50M

  image:
    registry: ghcr.io
    repository: element-hq/synapse
    tag: v1.141.0
    digest: sha256:562adbfc3df12d1024c7277b9807086ed79d8d5fabe24187a31d787af050a6a4

    ## Overrides the default pull policy for this image.
    # pullPolicy:

    ## Pull secrets that should be used for this image.
    pullSecrets: []

  annotations: {}
  labels: {}

  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  podSecurityContext:
    runAsUser: 1023
    runAsNonRoot: true
    runAsGroup: 1023
    fsGroup: 1023
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault

  ## Hostname of this component.
  host: # matrix.chat.localhost

  ## Configuration for the Ingress resource.
  ingress:
    ## Whether an Ingress should be created for this component.
    enabled: false

    ## IngressClass to be used for this Ingress.
    className:

    ## Additional annotations to be applied to the Ingress resource.
    annotations: {}

    ## Whether TLS should be enabled for this Ingress.
    tls: false

  ## Configuration for the HTTPRoute resource.
  httpRoute:
    ## Whether a HTTPRoute should be created for this component.
    enabled: false

    ## Additional annotations to be applied on the HTTPRoute resource.
    annotations: {}

    ## List of the resources this HTTPRoute should be attached to.
    parentRefs: []

  # resources:
  #   requests:
  #     cpu:
  #     memory:
  #   limits:
  #     cpu:
  #     memory:

  livenessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  readinessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  startupProbe:
    failureThreshold: 30
    initialDelaySeconds: 0
    periodSeconds: 2
    successThreshold: 1
    timeoutSeconds: 1

  nodeSelector: {}

  tolerations: []

  affinity: {}

matrixAuthenticationService:
  ## PostgreSQL connection details
  ## Contains the connection credentials for the PostgreSQL
  ## database used for data storage.
  ## Values can be provided either directly in the values file,
  ## or as a reference to a Kubernetes secret.
  # postgres:
    # uri:
    #   value: postgresql://<user>:<password>@<host>/<database>
    # host:
    #   value: mas
    # port:
    #   value: 5432
    # database:
    #   value: mas
    # user:
    #   value: mas

    # password:
    #   secretName: mas-postgres-secret
    #   secretKey: password

  ## Shared secret used to authenticate the service to Synapse.
  # synapseSecret:
  #   value:
  #
  #   secretName:
  #   secretKey:

  ## Encryption secret used for encrypting cookies and database fields.
  # encryptionSecret:
  #   value:
  #
  #   secretName:
  #   secretKey:

  ## Signing keys. By default only the RSA and ECDSA P-256 keys are generated,
  ## the other ones need to be provided manually.
  ## See https://element-hq.github.io/matrix-authentication-service/reference/configuration.html#singing-keys.
  # privateKeys:
    ## RSA key.
    # rsa:
    #   value:
    #
    #   secretName:
    #   secretKey:

    ## ECDSA with the P-256 curve.
    # ecdsaPrime256v1:
    #   value:
    #
    #   secretName:
    #   secretKey:

    ## ECDSA with the P-384 curve.
    # ecdsaSecp384r1:
    #   value:
    #
    #   secretName:
    #   secretKey:

    ## ECDSA with the K-256 curve.
    # ecdsaSecp256k1:
    #   value:
    #
    #   secretName:
    #   secretKey:

  image:
    registry: ghcr.io
    repository: element-hq/matrix-authentication-service
    tag: 1.6.0
    digest: sha256:15fdb4665aa339261d4352c058c221470d040a04cd59117c3956994d9e8edc27

    ## Overrides the default pull policy for this image.
    # pullPolicy:

    ## Pull secrets that should be used for this image.
    pullSecrets: []

  annotations: {}
  labels: {}

  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  podSecurityContext:
    runAsUser: 1023
    runAsNonRoot: true
    runAsGroup: 1023
    fsGroup: 1023
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault

  ## Hostname of this component.
  host: # auth.chat.localhost

  ## Configuration for the Ingress resource.
  ingress:
    ## Whether an Ingress should be created for this component.
    enabled: false

    ## IngressClass to be used for this Ingress.
    className:

    ## Additional annotations to be applied to the Ingress resource.
    annotations: {}

    ## Whether TLS should be enabled for this Ingress.
    tls: false

  ## Configuration for the HTTPRoute resource.
  httpRoute:
    ## Whether a HTTPRoute should be created for this component.
    enabled: false

    ## Additional annotations to be applied on the HTTPRoute resource.
    annotations: {}

    ## List of the resources this HTTPRoute should be attached to.
    parentRefs: []

  # resources:
  #   requests:
  #     cpu:
  #     memory:
  #   limits:
  #     cpu:
  #     memory:

  livenessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  readinessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  startupProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 2
    successThreshold: 1
    timeoutSeconds: 1

  nodeSelector: {}

  tolerations: []

  affinity: {}

initSecrets:
  enabled: true

  rbac:
    create: true

  image:
    registry: ghcr.io
    repository: element-hq/ess-helm/matrix-tools
    tag: 0.5.6
    digest: sha256:ba7f3de19a082d11416d5ab9c8aa280af6ab04f139995ea59462a107def12379

    ## Overrides the default pull policy for this image.
    # pullPolicy:

    ## Pull secrets that should be used for this image.
    pullSecrets: []

  annotations: {}
  labels: {}

  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  podSecurityContext:
    runAsUser: 1023
    runAsNonRoot: true
    runAsGroup: 1023
    fsGroup: 1023
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault

  # resources:
  #   requests:
  #     cpu:
  #     memory:
  #   limits:
  #     cpu:
  #     memory:

  nodeSelector: {}

  tolerations: []

  affinity: {}

## Deploys a small Nginx container available at `serverName` serving
## the well-known files necessary to delegate traffic to the homeserver
## subdomain.
wellKnownDelegation:
  ## This can be disabled if the well-known files are hosted at a different
  ## location.
  enabled: true

  image:
    registry: docker.io
    repository: nginxinc/nginx-unprivileged
    tag: 1.29.2-alpine-slim
    digest: sha256:cc7630eb9e5114d1df794f5d1b962de76bdb7c79c553eea1c22a6c8217f85322

    ## Overrides the default pull policy for this image.
    # pullPolicy:

    ## Pull secrets that should be used for this image.
    pullSecrets: []

  annotations: {}
  labels: {}

  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  podSecurityContext:
    runAsUser: 1023
    runAsNonRoot: true
    runAsGroup: 1023
    fsGroup: 1023
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault

  ## Configuration for the Ingress resource.
  ingress:
    ## Whether an Ingress should be created for this component.
    enabled: false

    ## IngressClass to be used for this Ingress.
    className:

    ## Additional annotations to be applied to the Ingress resource.
    annotations: {}

    ## Whether TLS should be enabled for this Ingress.
    tls: false

  ## Configuration for the HTTPRoute resource.
  httpRoute:
    ## Whether a HTTPRoute should be created for this component.
    enabled: false

    ## Additional annotations to be applied on the HTTPRoute resource.
    annotations: {}

    ## List of the resources this HTTPRoute should be attached to.
    parentRefs: []

  livenessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  readinessProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 2

  startupProbe:
    failureThreshold: 6
    initialDelaySeconds: 0
    periodSeconds: 2
    successThreshold: 1
    timeoutSeconds: 1

  nodeSelector: {}

  tolerations: []

  affinity: {}
